.shop-name {
  text-align: center;
  flex: 1;
}
.shop-name a:focus,
.shop-name a {
  color: white;
}

.shop-icon {
  color: white;
}

.cart-counter {
  left: 111% !important;
}

.cart-link:focus,
.cart-link {
  color: white;
}

.user-link{
	margin: .7em;
}

.ui.small.basic.inverted.segment.nav-bar {
	background-color: #c30101;
	width: 100%;
	height: 5em;
}


.ui.fluid.secondary.menu {
	position: relative;
	height: 100%;
}

.ui.avatar.image {
	width:65%;
	height: 100%;
}

div.right.fitted.item {

	
	margin-left: 77.5% !important;	
}

.ui.right.aligned.category.search.item {

	text-align: left;
	width: 100%;
}

i.user.icon {

	color: white;
}

i.ellipsis.vertical.icon.shop-icon {

	font-size: 1.3em;
	position: relative;
	padding-left: 70%;
}

button.ui.button.submit-search {
	background-color: #ffb400;
}

div.ui.action.input {
	margin-left: 15%;
}

div.ui.segment.bar {
	
	width: 85%;
}

i.user.large.icon.shop-icon {

	margin-right: 30%;
}